<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->

    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow border-0">

        <div class="container clearfix py-5">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">

                </h3>
              </div>
            </div>
          </div>

          <div class="container clearfix divcenter" style="max-width: 900px;">
            <div class=" nobottommargin">

              <div class="m-portlet__body">
                <div class="form-group m-form__group row">
                  <div class="m-radio-inline" style="margin-top: 15px;">
                    <span class="m-badge m-badge--primary m-badge--wide m-badge--rounded"
                      style="margin-left: 10px; font-size: 1.2rem;font-family: 'Montserrat'; width: 200px;padding: 12px;  ">

                    </span><br>
                    <div style="margin-top:25px; margin-left:15px;color:#db1a20;">

                    </div>
                  </div>
                </div>
                <h1>WELLCOME TO TRADESIGNAL</h1>







              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
