<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">

    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">

    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Signal information</h3>
            </div>
            <div class="col-4 text-right">

            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" novalidate>
            <h6 class="heading-small text-muted mb-4"></h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-plan"> Select Plan</label>
                    <!-- <select class="form-control" placeholder="Select Plan" name="plan" [(ngModel)]="data.plan" ngModel
                      required #plan="ngModel">
                      <option class="form-control" *ngFor="let plan of plans[0]" [value]="plan._id">
                        {{ plan.planname }}
                      </option>

                    </select> -->
          <!-- </div>
                </div>

              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-Symbol">SYMBOL</label>
                    <input type="text" class="form-control form-control-alternative" placeholder="Enter Symbol"
                      name="Symbol" id="Symbol" ngModel required #Symbol="ngModel" [(ngModel)]="data.Symbol">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-Signal">Signal</label>
                    <input id="input-Signal" class="form-control form-control-alternative" type="text"
                      placeholder="Enter Signal" name="Signal" id="Signal" ngModel required #Signal="ngModel"
                      [(ngModel)]="data.Signal">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-EntryDate&Time">Entry Date & Time </label>
                    <input id="input-EntryDateTime" class="form-control form-control-alternative" type="text"
                      placeholder="Enter Entry Date&Time" name="EntryDateTime" id="EntryDateTime" ngModel required
                      #EntryDateTime="ngModel" [(ngModel)]="data.EntryDateTime">
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-ExitDate&Time">Exit Date & Time </label>
                    <input id="input-ExitDateTime" class="form-control form-control-alternative" type="text"
                      placeholder="Enter Exit Date&Time" name="ExitDateTime" ngModel required #ExitDateTime="ngModel"
                      [(ngModel)]="data.ExitDateTime">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-EntryPrice">Entry Price</label>
                    <input id="input-EntryPrice" class="form-control form-control-alternative"
                      placeholder="Enter Entry Price" name="EntryPrice" ngModel required #EntryPrice="ngModel"
                      [(ngModel)]="data.EntryPrice">
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-ExitPrice">Exit Price</label>
                    <input id="input-ExitPrice" class="form-control form-control-alternative" type="text"
                      placeholder="Enter Exit Price" name="ExitPrice" ngModel required #ExitPrice="ngModel"
                      [(ngModel)]="data.ExitPrice">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-stockSignal">Stop Loss</label>
                    <input id="input-stockSignal" class="form-control form-control-alternative" type="text"
                      placeholder="Enter Stop Loss" name="stopLoss" id="stopLoss" ngModel required #stopLoss="ngModel"
                      [(ngModel)]="data.stopLoss">
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-targetPrice">Target Price</label>
                    <input type="text" class="form-control form-control-alternative" placeholder="Enter Target Price"
                      name="targetPrice" id="input-targetPrice" ngModel required #targetPrice="ngModel"
                      [(ngModel)]="data.targetPrice">
                  </div>
                </div>
              </div>


            </div>



            <br>
            <br>
            <div class="m-form__actions m-form__actions" style="text-align: center;">
              <button class="btn btn-warning m-btn m-btn--custom m-btn--icon" id="shedule_data"
                data-wizard-action="next">
                <span>
                  <span>
                    Submit
                  </span> &nbsp;&nbsp;
                  <i class="la la-arrow-right"></i>
                </span>
              </button>
            </div>
          </form>  -->
        </div>
      </div>
    </div>
  </div>
</div>
