
<div class="container clearfix py-5">
    <div class="heading-block nobottomborder topmargin-sm center divcenter mb-0 clearfix" style="max-width: 750px">
       <p style="font-size: 1.5rem;font-weight: 600;">One Step Away From Getting Your Loved Stuff!</p>
    </div>
     <div class="heading-block nobottomborder topmargin-sm center divcenter mb-0 clearfix" style="max-width: 750px">
       <p style="font-size: 1 rem;font-weight: 600;">Please fill below your billing address</p>
      
    </div>
    <div class="container clearfix divcenter" style="max-width: 900px;">
       <div class=" nobottommargin">
          <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" autocomplete="off">
             <div class="m-portlet__body">
                 <p style="color:#f21515;font-size:12px;text-align:left;">(*) All fields are mandatory</p>
                <div class="form-group m-form__group row">
                    
                   <div class="col-lg-6 col-md-4">
                        
                      <label>
                      First Name: * 
                      </label>
                      <input type="text" class="form-control m-input" placeholder="Enter first name" name="first_name" id="first_name" required="required" >
                                                          </div>
                   <div class="col-lg-6 col-md-4 topgap">
                      <label class="">
                      Last Name: *
                      </label>
                      <input type="text" class="form-control m-input" placeholder="Enter last name" name="last_name" id="last_name"  required="required" >
                       
                         
                   </div>
                </div>
               <div class="form-group m-form__group row topgap">
                   <div class="col-lg-12 col-md-10">
                      <label>
                          1st line of address *
                      </label>
                     <textarea type="text" rows="4" class="form-control" placeholder="Please enter House/Flat Number, Building Name/ Apartment Name" name="billing_address" id="billing_address"  required="required" ></textarea>
                                                         
                   </div>
                </div>
               <div class="form-group m-form__group row topgap">
                   <div class="col-lg-12 col-md-10">
                      <label>
                     2nd line of address *
                      </label>
                     <textarea type="text" rows="4" class="form-control" placeholder="Please enter Street Name, Locality" name="billing_address2" id="billing_address2"  required="required" ></textarea>
                                                         
                   </div>
                </div>  
                
                   <div class="form-group m-form__group row topgap">
                   <div class="col-lg-6 col-md-4">
                      <label>
                      City *  
                      </label>
                      <input type="text" class="form-control m-input" placeholder="Enter City" name="city" id="city"   required="required" >
                       <div class="clearfix"></div>
                         


                   </div>
                   <div class="col-lg-6 col-md-4 topgap">
                      <label class="">
                      State *
                      </label>
                      <input type="text" class="form-control m-input" placeholder="Enter state name" name="state" id="state"  required="required" >
                       
                         
                   </div>
                </div>
                <div class="form-group m-form__group row topgap">
                   <div class="col-lg-6 col-md-4">
                      <label>
                      Select Country *  
                      </label>
                      <select name="country" id="country" class="form-control" required="required" >
<option value="">Country</option>
<option value="AF-AFGHANISTAN-93">AFGHANISTAN</option>
<option value="AL-ALBANIA-355">ALBANIA</option>
<option value="DZ-ALGERIA-213">ALGERIA</option>
<option value="AS-AMERICAN SAMOA-1684">AMERICAN SAMOA</option>
<option value="AD-ANDORRA-376">ANDORRA</option>
<option value="AO-ANGOLA-244">ANGOLA</option>
<option value="AI-ANGUILLA-1264">ANGUILLA</option>
<option value="AG-ANTIGUA AND BARBUDA-1268">ANTIGUA AND BARBUDA</option>
<option value="AR-ARGENTINA-54">ARGENTINA</option>
<option value="AM-ARMENIA-374">ARMENIA</option>
<option value="AW-ARUBA-297">ARUBA</option>
<option value="AU-AUSTRALIA-61">AUSTRALIA</option>
<option value="AT-AUSTRIA-43">AUSTRIA</option>
<option value="AZ-AZERBAIJAN-994">AZERBAIJAN</option>
<option value="BS-BAHAMAS-1242">BAHAMAS</option>
<option value="BH-BAHRAIN-973">BAHRAIN</option>
<option value="BD-BANGLADESH-880">BANGLADESH</option>
<option value="BB-BARBADOS-1246">BARBADOS</option>
<option value="BY-BELARUS-375">BELARUS</option>
<option value="BE-BELGIUM-32">BELGIUM</option>
<option value="BZ-BELIZE-501">BELIZE</option>
<option value="BJ-BENIN-229">BENIN</option>
<option value="BM-BERMUDA-1441">BERMUDA</option>
<option value="BT-BHUTAN-975">BHUTAN</option>
<option value="BO-BOLIVIA-591">BOLIVIA</option>
<option value="XB-BONAIRE-599">BONAIRE</option>
<option value="BA-BOSNIA AND HERZEGOVINA-387">BOSNIA AND HERZEGOVINA</option>
<option value="BW-BOTSWANA-267">BOTSWANA</option>
<option value="BR-BRAZIL-55">BRAZIL</option>
<option value="BN-BRUNEI DARUSSALAM-673">BRUNEI DARUSSALAM</option>
<option value="BG-BULGARIA-359">BULGARIA</option>
<option value="BF-BURKINA FASO-226">BURKINA FASO</option>
<option value="BI-BURUNDI-257">BURUNDI</option>
<option value="KH-CAMBODIA-855">CAMBODIA</option>
<option value="CM-CAMEROON-237">CAMEROON</option>
<option value="CA-CANADA-1">CANADA</option>
<option value="IC-CANARY ISLANDS, The-922">CANARY ISLANDS, The</option>
<option value="CV-CAPE VERDE-238">CAPE VERDE</option>
<option value="KY-CAYMAN ISLANDS-1345">CAYMAN ISLANDS</option>
<option value="CF-CENTRAL AFRICAN REPUBLIC-236">CENTRAL AFRICAN REPUBLIC</option>
<option value="TD-CHAD-235">CHAD</option>
<option value="CL-CHILE-56">CHILE</option>
<option value="CN-CHINA-86">CHINA</option>
<option value="CO-COLOMBIA-57">COLOMBIA</option>
<option value="KM-COMOROS-269">COMOROS</option>
<option value="CG-CONGO-242">CONGO</option>
<option value="CD-CONGO, THE DEMOCRATIC REPUBLIC OF THE-243">CONGO, THE DEMOCRATIC REPUBLIC OF THE</option>
<option value="CK-COOK ISLANDS-682">COOK ISLANDS</option>
<option value="CR-COSTA RICA-506">COSTA RICA</option>
<option value="CI-COTE D IVOIRE-225">COTE D IVOIRE</option>
<option value="HR-CROATIA-385">CROATIA</option>
<option value="CU-CUBA-53">CUBA</option>
<option value="XC-CURACAO-599">CURACAO</option>
<option value="CY-CYPRUS-357">CYPRUS</option>
<option value="CZ-CZECH REPUBLIC-420">CZECH REPUBLIC</option>
<option value="DK-DENMARK-45">DENMARK</option>
<option value="DJ-DJIBOUTI-253">DJIBOUTI</option>
<option value="DM-DOMINICA-1767">DOMINICA</option>
<option value="DO-DOMINICAN REPUBLIC-1809">DOMINICAN REPUBLIC</option>
<option value="EC-ECUADOR-593">ECUADOR</option>
<option value="EG-EGYPT-20">EGYPT</option>
<option value="SV-EL SALVADOR-503">EL SALVADOR</option>
<option value="GQ-EQUATORIAL GUINEA-240">EQUATORIAL GUINEA</option>
<option value="ER-ERITREA-291">ERITREA</option>
<option value="EE-ESTONIA-372">ESTONIA</option>
<option value="ET-ETHIOPIA-251">ETHIOPIA</option>
<option value="FK-FALKLAND ISLANDS (MALVINAS)-500">FALKLAND ISLANDS (MALVINAS)</option>
<option value="FO-FAROE ISLANDS-298">FAROE ISLANDS</option>
<option value="FJ-FIJI-679">FIJI</option>
<option value="FI-FINLAND-358">FINLAND</option>
<option value="FR-FRANCE-33">FRANCE</option>
<option value="GA-GABON-241">GABON</option>
<option value="GM-GAMBIA-220">GAMBIA</option>
<option value="GE-GEORGIA-995">GEORGIA</option>
<option value="DE-GERMANY-49">GERMANY</option>
<option value="GH-GHANA-233">GHANA</option>
<option value="GI-GIBRALTAR-350">GIBRALTAR</option>
<option value="GR-GREECE-30">GREECE</option>
<option value="GL-GREENLAND-299">GREENLAND</option>
<option value="GD-GRENADA-1473">GRENADA</option>
<option value="GP-GUADELOUPE-590">GUADELOUPE</option>
<option value="GU-GUAM-1671">GUAM</option>
<option value="GT-GUATEMALA-502">GUATEMALA</option>
<option value="GG-Guernsey GUERNSEY-590">Guernsey GUERNSEY</option>
<option value="GN-GUINEA-224">GUINEA</option>
<option value="GW-GUINEA-BISSAU-245">GUINEA-BISSAU</option>
<option value="GY-GUYANA-592">GUYANA</option>
<option value="HT-HAITI-509">HAITI</option>
<option value="HN-HONDURAS-504">HONDURAS</option>
<option value="HK-HONG KONG-852">HONG KONG</option>
<option value="HU-HUNGARY-36">HUNGARY</option>
<option value="IS-ICELAND-354">ICELAND</option>
<option value="IN-INDIA-91">INDIA</option>
<option value="ID-INDONESIA-62">INDONESIA</option>
<option value="IR-IRAN, ISLAMIC REPUBLIC OF-98">IRAN, ISLAMIC REPUBLIC OF</option>
<option value="IQ-IRAQ-964">IRAQ</option>
<option value="IE-IRELAND-353">IRELAND</option>
<option value="IL-ISRAEL-972">ISRAEL</option>
<option value="IT-ITALY-39">ITALY</option>
<option value="JM-JAMAICA-1876">JAMAICA</option>
<option value="JP-JAPAN-81">JAPAN</option>
<option value="JE-JERSEY-44">JERSEY</option>
<option value="JO-JORDAN-962">JORDAN</option>
<option value="KZ-KAZAKSTAN-7">KAZAKSTAN</option>
<option value="KE-KENYA-254">KENYA</option>
<option value="KI-KIRIBATI-686">KIRIBATI</option>
<option value="KP-KOREA DEMOCRATIC PEOPLES REPUBLIC OF-850">KOREA DEMOCRATIC PEOPLES REPUBLIC OF</option>
<option value="KR-KOREA REPUBLIC OF-82">KOREA REPUBLIC OF</option>
<option value="KV-KOSOVO-381">KOSOVO</option>
<option value="KW-KUWAIT-965">KUWAIT</option>
<option value="KG-KYRGYZSTAN-996">KYRGYZSTAN</option>
<option value="LA-LAO PEOPLES DEMOCRATIC REPUBLIC-856">LAO PEOPLES DEMOCRATIC REPUBLIC</option>
<option value="LV-LATVIA-371">LATVIA</option>
<option value="LB-LEBANON-961">LEBANON</option>
<option value="LS-LESOTHO-266">LESOTHO</option>
<option value="LR-LIBERIA-231">LIBERIA</option>
<option value="LY-LIBYAN ARAB JAMAHIRIYA-218">LIBYAN ARAB JAMAHIRIYA</option>
<option value="LI-LIECHTENSTEIN-423">LIECHTENSTEIN</option>
<option value="LT-LITHUANIA-370">LITHUANIA</option>
<option value="LU-LUXEMBOURG-352">LUXEMBOURG</option>
<option value="MO-MACAU-853">MACAU</option>
<option value="MK-MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF-389">MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF</option>
<option value="MG-MADAGASCAR-261">MADAGASCAR</option>
<option value="MW-MALAWI-265">MALAWI</option>
<option value="MY-MALAYSIA-60">MALAYSIA</option>
<option value="MV-MALDIVES-960">MALDIVES</option>
<option value="ML-MALI-223">MALI</option>
<option value="MT-MALTA-356">MALTA</option>
<option value="MH-MARSHALL ISLANDS-692">MARSHALL ISLANDS</option>
<option value="MQ-MARTINIQUE-596">MARTINIQUE</option>
<option value="MR-MAURITANIA-222">MAURITANIA</option>
<option value="MU-MAURITIUS-230">MAURITIUS</option>
<option value="YT-MAYOTTE-262">MAYOTTE</option>
<option value="MX-MEXICO-52">MEXICO</option>
<option value="FM-MICRONESIA, FEDERATED STATES OF-691">MICRONESIA, FEDERATED STATES OF</option>
<option value="MD-MOLDOVA, REPUBLIC OF-373">MOLDOVA, REPUBLIC OF</option>
<option value="MC-MONACO-377">MONACO</option>
<option value="MN-MONGOLIA-976">MONGOLIA</option>
<option value="ME-MONTENEGRO-382">MONTENEGRO</option>
<option value="MS-MONTSERRAT-1664">MONTSERRAT</option>
<option value="MA-MOROCCO-212">MOROCCO</option>
<option value="MZ-MOZAMBIQUE-258">MOZAMBIQUE</option>
<option value="MM-MYANMAR-95">MYANMAR</option>
<option value="NA-NAMIBIA-264">NAMIBIA</option>
<option value="NR-NAURU-674">NAURU</option>
<option value="NP-NEPAL-977">NEPAL</option>
<option value="AN-NETHERLANDS ANTILLES-599">NETHERLANDS ANTILLES</option>
<option value="NL-NETHERLANDS-31">NETHERLANDS</option>
<option value="XN-NEVIS-1">NEVIS</option>
<option value="NC-NEW CALEDONIA-687">NEW CALEDONIA</option>
<option value="NZ-NEW ZEALAND-64">NEW ZEALAND</option>
<option value="NI-NICARAGUA-505">NICARAGUA</option>
<option value="NE-NIGER-227">NIGER</option>
<option value="NG-NIGERIA-234">NIGERIA</option>
<option value="NU-NIUE-683">NIUE</option>
<option value="NO-NORWAY-47">NORWAY</option>
<option value="OM-OMAN-968">OMAN</option>
<option value="PK-PAKISTAN-92">PAKISTAN</option>
<option value="PW-PALAU-680">PALAU</option>
<option value="PA-PANAMA-507">PANAMA</option>
<option value="PG-PAPUA NEW GUINEA-675">PAPUA NEW GUINEA</option>
<option value="PY-PARAGUAY-595">PARAGUAY</option>
<option value="PE-PERU-51">PERU</option>
<option value="PH-PHILIPPINES-63">PHILIPPINES</option>
<option value="PL-POLAND-48">POLAND</option>
<option value="PT-PORTUGAL-351">PORTUGAL</option>
<option value="PR-PUERTO RICO-1">PUERTO RICO</option>
<option value="QA-QATAR-974">QATAR</option>
<option value="RE-REUNION, ISLAND Of-262">REUNION, ISLAND Of</option>
<option value="RO-ROMANIA-40">ROMANIA</option>
<option value="RU-RUSSIAN FEDERATION-7">RUSSIAN FEDERATION</option>
<option value="RW-RWANDA-250">RWANDA</option>
<option value="SH-SAINT HELENA-290">SAINT HELENA</option>
<option value="MP-NORTHERN MARIANA ISLANDS-1670">NORTHERN MARIANA ISLANDS</option>
<option value="WS-SAMOA-685">SAMOA</option>
<option value="SM-SAN MARINO-378">SAN MARINO</option>
<option value="ST-SAO TOME AND PRINCIPE-239">SAO TOME AND PRINCIPE</option>
<option value="SA-SAUDI ARABIA-966">SAUDI ARABIA</option>
<option value="SN-SENEGAL-221">SENEGAL</option>
<option value="RS-SERBIA-381">SERBIA</option>
<option value="SC-SEYCHELLES-248">SEYCHELLES</option>
<option value="SL-SIERRA LEONE-232">SIERRA LEONE</option>
<option value="SG-SINGAPORE-65">SINGAPORE</option>
<option value="SK-SLOVAKIA-421">SLOVAKIA</option>
<option value="SI-SLOVENIA-386">SLOVENIA</option>
<option value="SB-SOLOMON ISLANDS-677">SOLOMON ISLANDS</option>
<option value="SO-SOMALIA-252">SOMALIA</option>
<option value="XS-SOMALILAND,Rep of (North Somalia)-252">SOMALILAND,Rep of (North Somalia)</option>
<option value="ZA-SOUTH AFRICA-27">SOUTH AFRICA</option>
<option value="SS-SOUTH SUDAN-211">SOUTH SUDAN</option>
<option value="ES-SPAIN-34">SPAIN</option>
<option value="LK-SRI LANKA-94">SRI LANKA</option>
<option value="XY-ST.BARTHELEMY-590">ST.BARTHELEMY</option>
<option value="XE-ST.EUSTATIUS-599-3">ST.EUSTATIUS</option>
<option value="KN-ST.KITTS-1869">ST.KITTS</option>
<option value="LC-SAINT LUCIA-1758">SAINT LUCIA</option>
<option value="XM-MAARTEN-1">MAARTEN</option>
<option value="VC-SAINT VINCENT AND THE GRENADINES-1784">SAINT VINCENT AND THE GRENADINES</option>
<option value="SD-SUDAN-249">SUDAN</option>
<option value="SR-SURINAME-597">SURINAME</option>
<option value="SZ-SWAZILAND-268">SWAZILAND</option>
<option value="SE-SWEDEN-46">SWEDEN</option>
<option value="CH-SWITZERLAND-41">SWITZERLAND</option>
<option value="SY-SYRIAN ARAB REPUBLIC-963">SYRIAN ARAB REPUBLIC</option>
<option value="PF-FRENCH POLYNESIA-689">FRENCH POLYNESIA</option>
<option value="TW-TAIWAN, PROVINCE OF CHINA-886">TAIWAN, PROVINCE OF CHINA</option>
<option value="TJ-TAJIKISTAN-992">TAJIKISTAN</option>
<option value="TZ-TANZANIA, UNITED REPUBLIC OF-255">TANZANIA, UNITED REPUBLIC OF</option>
<option value="TH-THAILAND-66">THAILAND</option>
<option value="TL-TIMOR-LESTE-670">TIMOR-LESTE</option>
<option value="TG-TOGO-228">TOGO</option>
<option value="TO-TONGA-676">TONGA</option>
<option value="TT-TRINIDAD AND TOBAGO-1868">TRINIDAD AND TOBAGO</option>
<option value="TN-TUNISIA-216">TUNISIA</option>
<option value="TR-TURKEY-90">TURKEY</option>
<option value="TM-TURKMENISTAN-993">TURKMENISTAN</option>
<option value="TC-TURKS AND CAICOS ISLANDS-1649">TURKS AND CAICOS ISLANDS</option>
<option value="TV-TUVALU-688">TUVALU</option>
<option value="UG-UGANDA-256">UGANDA</option>
<option value="UA-UKRAINE-380">UKRAINE</option>
<option value="AE-UNITED ARAB EMIRATES-971">UNITED ARAB EMIRATES</option>
<option value="GB-UNITED KINGDOM-44">UNITED KINGDOM</option>
<option value="US-UNITED STATES-1">UNITED STATES</option>
<option value="UY-URUGUAY-598">URUGUAY</option>
<option value="UZ-UZBEKISTAN-998">UZBEKISTAN</option>
<option value="VU-VANUATU-678">VANUATU</option>
<option value="VA-HOLY SEE (VATICAN CITY STATE)-39">HOLY SEE (VATICAN CITY STATE)</option>
<option value="VE-VENEZUELA-58">VENEZUELA</option>
<option value="VN-VIET NAM-84">VIET NAM</option>
<option value="VG-VIRGIN ISLANDS, BRITISH-1284">VIRGIN ISLANDS, BRITISH</option>
<option value="VI-VIRGIN ISLANDS, U.S.-1340">VIRGIN ISLANDS, U.S.</option>
<option value="YE-YEMEN-967">YEMEN</option>
<option value="ZM-ZAMBIA-260">ZAMBIA</option>
<option value="ZW-ZIMBABWE-263">ZIMBABWE</option>

</select>
                   </div>
                   <div class="col-lg-6 col-md-4 topgap">
                      <label class="">
                      postcode *
                      </label>
                      <input type="text" class="form-control m-input" placeholder="Enter postcode" name="postalcode" id="postal_code" required="required" >
                       <div class="clearfix"></div>
                        
                   </div>
                </div>
                <div class="form-group m-form__group row topgap">
                   <div class="col-md-3">
           <div class="form-group">
                <label>Code: *</label>
             <input type="text" name="mobile_code" id="mobile_code" readonly=""  class="form-control">

           </div>
         </div>
                   <div class="col-lg-6 col-md-4 topgap">
                      <label class="">
                      Mobile Number *
                      </label>
                      <input type="text" class="form-control m-input" placeholder="Enter your mobile number" name="mobile" id="mobile"  required="required" >
                         
                   </div>
                </div>
                 
                <div class="form-group m-form__group row">
                   <div class="m-radio-inline" style="margin-top: 20px;">
                      
                      <label>
                      Is Shipping Address Same As Billing Address? *
                      <span></span>
                      </label>
                       <label class="m-radio">
                          <input type="radio" name="same" class="same" id="same">
                      Yes
                      <span></span>
                      </label>
                      <label class="m-radio">
                          <input type="radio" name="same" class="same" id="same" >
                      No
                      <span></span>
                      </label>
                   </div>
                </div>
                 
                 <div class="heading-block nobottomborder topmargin-sm center divcenter mb-0 clearfix" style="max-width: 750px">
       <p style="font-size: 1 rem;font-weight: 600;">SHIPPING ADDRESS</p>
    </div>
                <div class="form-group m-form__group row">
                   <div class="col-lg-6 col-md-4">
                      <label>
                      First Name: *
                      </label>
                      <input type="text" class="form-control m-input" placeholder="Enter first name" name="s_first_name" id="s_first_name"  required="required" >
                                                          </div>
                   <div class="col-lg-6 col-md-4 topgap">
                      <label class="">
                      Last Name: *
                      </label>
                      <input type="text" class="form-control m-input" placeholder="Enter last name" name="s_last_name" id="s_last_name"  required="required" >
                       
                         
                   </div>
                </div>
                   <div class="form-group m-form__group row topgap">
                   <div class="col-lg-12 col-md-10">
                      <label>
                          1st line of address *
                      </label>
                     <textarea type="text" rows="4" class="form-control" placeholder="Please enter House/Flat Number, Building Name/ Apartment Name" name="shipping_address" id="shipping_address" required="required" ></textarea>
                                                        
                   </div>
                </div>
                 <div class="form-group m-form__group row topgap">
                   <div class="col-lg-12 col-md-10">
                      <label>
                     2nd line of address *
                      </label>
                     <textarea type="text" rows="4" class="form-control" placeholder="Please enter Street Name, Locality" name="shipping_address2" id="shipping_address2" required="required" ></textarea>
                                                        
                   </div>
                </div>
                
                   <div class="form-group m-form__group row topgap">
                   <div class="col-lg-6 col-md-4">
                      <label>
                      City *  
                      </label>
                      <input type="text" class="form-control m-input" placeholder="Enter City" name="s_city" id="s_city"  required="required" >
                       <div class="clearfix"></div>
                         


                   </div>
                   <div class="col-lg-6 col-md-4 topgap">
                      <label class="">
                      State *
                      </label>
                      <input type="text" class="form-control m-input" placeholder="Enter state name" name="s_state" id="s_state"  required="required" >
                       
                         
                   </div>
                </div>
                <div class="form-group m-form__group row topgap">
                   <div class="col-lg-6 col-md-4">
                      <label>
                      Select Country *  
                      </label>
                      <select name="s_country" id="s_country" class="form-control">
<option value="">Country</option>
<option value="AF-AFGHANISTAN-93">AFGHANISTAN</option>
<option value="AL-ALBANIA-355">ALBANIA</option>
<option value="DZ-ALGERIA-213">ALGERIA</option>
<option value="AS-AMERICAN SAMOA-1684">AMERICAN SAMOA</option>
<option value="AD-ANDORRA-376">ANDORRA</option>
<option value="AO-ANGOLA-244">ANGOLA</option>
<option value="AI-ANGUILLA-1264">ANGUILLA</option>
<option value="AG-ANTIGUA AND BARBUDA-1268">ANTIGUA AND BARBUDA</option>
<option value="AR-ARGENTINA-54">ARGENTINA</option>
<option value="AM-ARMENIA-374">ARMENIA</option>
<option value="AW-ARUBA-297">ARUBA</option>
<option value="AU-AUSTRALIA-61">AUSTRALIA</option>
<option value="AT-AUSTRIA-43">AUSTRIA</option>
<option value="AZ-AZERBAIJAN-994">AZERBAIJAN</option>
<option value="BS-BAHAMAS-1242">BAHAMAS</option>
<option value="BH-BAHRAIN-973">BAHRAIN</option>
<option value="BD-BANGLADESH-880">BANGLADESH</option>
<option value="BB-BARBADOS-1246">BARBADOS</option>
<option value="BY-BELARUS-375">BELARUS</option>
<option value="BE-BELGIUM-32">BELGIUM</option>
<option value="BZ-BELIZE-501">BELIZE</option>
<option value="BJ-BENIN-229">BENIN</option>
<option value="BM-BERMUDA-1441">BERMUDA</option>
<option value="BT-BHUTAN-975">BHUTAN</option>
<option value="BO-BOLIVIA-591">BOLIVIA</option>
<option value="XB-BONAIRE-599">BONAIRE</option>
<option value="BA-BOSNIA AND HERZEGOVINA-387">BOSNIA AND HERZEGOVINA</option>
<option value="BW-BOTSWANA-267">BOTSWANA</option>
<option value="BR-BRAZIL-55">BRAZIL</option>
<option value="BN-BRUNEI DARUSSALAM-673">BRUNEI DARUSSALAM</option>
<option value="BG-BULGARIA-359">BULGARIA</option>
<option value="BF-BURKINA FASO-226">BURKINA FASO</option>
<option value="BI-BURUNDI-257">BURUNDI</option>
<option value="KH-CAMBODIA-855">CAMBODIA</option>
<option value="CM-CAMEROON-237">CAMEROON</option>
<option value="CA-CANADA-1">CANADA</option>
<option value="IC-CANARY ISLANDS, The-922">CANARY ISLANDS, The</option>
<option value="CV-CAPE VERDE-238">CAPE VERDE</option>
<option value="KY-CAYMAN ISLANDS-1345">CAYMAN ISLANDS</option>
<option value="CF-CENTRAL AFRICAN REPUBLIC-236">CENTRAL AFRICAN REPUBLIC</option>
<option value="TD-CHAD-235">CHAD</option>
<option value="CL-CHILE-56">CHILE</option>
<option value="CN-CHINA-86">CHINA</option>
<option value="CO-COLOMBIA-57">COLOMBIA</option>
<option value="KM-COMOROS-269">COMOROS</option>
<option value="CG-CONGO-242">CONGO</option>
<option value="CD-CONGO, THE DEMOCRATIC REPUBLIC OF THE-243">CONGO, THE DEMOCRATIC REPUBLIC OF THE</option>
<option value="CK-COOK ISLANDS-682">COOK ISLANDS</option>
<option value="CR-COSTA RICA-506">COSTA RICA</option>
<option value="CI-COTE D IVOIRE-225">COTE D IVOIRE</option>
<option value="HR-CROATIA-385">CROATIA</option>
<option value="CU-CUBA-53">CUBA</option>
<option value="XC-CURACAO-599">CURACAO</option>
<option value="CY-CYPRUS-357">CYPRUS</option>
<option value="CZ-CZECH REPUBLIC-420">CZECH REPUBLIC</option>
<option value="DK-DENMARK-45">DENMARK</option>
<option value="DJ-DJIBOUTI-253">DJIBOUTI</option>
<option value="DM-DOMINICA-1767">DOMINICA</option>
<option value="DO-DOMINICAN REPUBLIC-1809">DOMINICAN REPUBLIC</option>
<option value="EC-ECUADOR-593">ECUADOR</option>
<option value="EG-EGYPT-20">EGYPT</option>
<option value="SV-EL SALVADOR-503">EL SALVADOR</option>
<option value="GQ-EQUATORIAL GUINEA-240">EQUATORIAL GUINEA</option>
<option value="ER-ERITREA-291">ERITREA</option>
<option value="EE-ESTONIA-372">ESTONIA</option>
<option value="ET-ETHIOPIA-251">ETHIOPIA</option>
<option value="FK-FALKLAND ISLANDS (MALVINAS)-500">FALKLAND ISLANDS (MALVINAS)</option>
<option value="FO-FAROE ISLANDS-298">FAROE ISLANDS</option>
<option value="FJ-FIJI-679">FIJI</option>
<option value="FI-FINLAND-358">FINLAND</option>
<option value="FR-FRANCE-33">FRANCE</option>
<option value="GA-GABON-241">GABON</option>
<option value="GM-GAMBIA-220">GAMBIA</option>
<option value="GE-GEORGIA-995">GEORGIA</option>
<option value="DE-GERMANY-49">GERMANY</option>
<option value="GH-GHANA-233">GHANA</option>
<option value="GI-GIBRALTAR-350">GIBRALTAR</option>
<option value="GR-GREECE-30">GREECE</option>
<option value="GL-GREENLAND-299">GREENLAND</option>
<option value="GD-GRENADA-1473">GRENADA</option>
<option value="GP-GUADELOUPE-590">GUADELOUPE</option>
<option value="GU-GUAM-1671">GUAM</option>
<option value="GT-GUATEMALA-502">GUATEMALA</option>
<option value="GG-Guernsey GUERNSEY-590">Guernsey GUERNSEY</option>
<option value="GN-GUINEA-224">GUINEA</option>
<option value="GW-GUINEA-BISSAU-245">GUINEA-BISSAU</option>
<option value="GY-GUYANA-592">GUYANA</option>
<option value="HT-HAITI-509">HAITI</option>
<option value="HN-HONDURAS-504">HONDURAS</option>
<option value="HK-HONG KONG-852">HONG KONG</option>
<option value="HU-HUNGARY-36">HUNGARY</option>
<option value="IS-ICELAND-354">ICELAND</option>
<option value="IN-INDIA-91">INDIA</option>
<option value="ID-INDONESIA-62">INDONESIA</option>
<option value="IR-IRAN, ISLAMIC REPUBLIC OF-98">IRAN, ISLAMIC REPUBLIC OF</option>
<option value="IQ-IRAQ-964">IRAQ</option>
<option value="IE-IRELAND-353">IRELAND</option>
<option value="IL-ISRAEL-972">ISRAEL</option>
<option value="IT-ITALY-39">ITALY</option>
<option value="JM-JAMAICA-1876">JAMAICA</option>
<option value="JP-JAPAN-81">JAPAN</option>
<option value="JE-JERSEY-44">JERSEY</option>
<option value="JO-JORDAN-962">JORDAN</option>
<option value="KZ-KAZAKSTAN-7">KAZAKSTAN</option>
<option value="KE-KENYA-254">KENYA</option>
<option value="KI-KIRIBATI-686">KIRIBATI</option>
<option value="KP-KOREA DEMOCRATIC PEOPLES REPUBLIC OF-850">KOREA DEMOCRATIC PEOPLES REPUBLIC OF</option>
<option value="KR-KOREA REPUBLIC OF-82">KOREA REPUBLIC OF</option>
<option value="KV-KOSOVO-381">KOSOVO</option>
<option value="KW-KUWAIT-965">KUWAIT</option>
<option value="KG-KYRGYZSTAN-996">KYRGYZSTAN</option>
<option value="LA-LAO PEOPLES DEMOCRATIC REPUBLIC-856">LAO PEOPLES DEMOCRATIC REPUBLIC</option>
<option value="LV-LATVIA-371">LATVIA</option>
<option value="LB-LEBANON-961">LEBANON</option>
<option value="LS-LESOTHO-266">LESOTHO</option>
<option value="LR-LIBERIA-231">LIBERIA</option>
<option value="LY-LIBYAN ARAB JAMAHIRIYA-218">LIBYAN ARAB JAMAHIRIYA</option>
<option value="LI-LIECHTENSTEIN-423">LIECHTENSTEIN</option>
<option value="LT-LITHUANIA-370">LITHUANIA</option>
<option value="LU-LUXEMBOURG-352">LUXEMBOURG</option>
<option value="MO-MACAU-853">MACAU</option>
<option value="MK-MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF-389">MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF</option>
<option value="MG-MADAGASCAR-261">MADAGASCAR</option>
<option value="MW-MALAWI-265">MALAWI</option>
<option value="MY-MALAYSIA-60">MALAYSIA</option>
<option value="MV-MALDIVES-960">MALDIVES</option>
<option value="ML-MALI-223">MALI</option>
<option value="MT-MALTA-356">MALTA</option>
<option value="MH-MARSHALL ISLANDS-692">MARSHALL ISLANDS</option>
<option value="MQ-MARTINIQUE-596">MARTINIQUE</option>
<option value="MR-MAURITANIA-222">MAURITANIA</option>
<option value="MU-MAURITIUS-230">MAURITIUS</option>
<option value="YT-MAYOTTE-262">MAYOTTE</option>
<option value="MX-MEXICO-52">MEXICO</option>
<option value="FM-MICRONESIA, FEDERATED STATES OF-691">MICRONESIA, FEDERATED STATES OF</option>
<option value="MD-MOLDOVA, REPUBLIC OF-373">MOLDOVA, REPUBLIC OF</option>
<option value="MC-MONACO-377">MONACO</option>
<option value="MN-MONGOLIA-976">MONGOLIA</option>
<option value="ME-MONTENEGRO-382">MONTENEGRO</option>
<option value="MS-MONTSERRAT-1664">MONTSERRAT</option>
<option value="MA-MOROCCO-212">MOROCCO</option>
<option value="MZ-MOZAMBIQUE-258">MOZAMBIQUE</option>
<option value="MM-MYANMAR-95">MYANMAR</option>
<option value="NA-NAMIBIA-264">NAMIBIA</option>
<option value="NR-NAURU-674">NAURU</option>
<option value="NP-NEPAL-977">NEPAL</option>
<option value="AN-NETHERLANDS ANTILLES-599">NETHERLANDS ANTILLES</option>
<option value="NL-NETHERLANDS-31">NETHERLANDS</option>
<option value="XN-NEVIS-1">NEVIS</option>
<option value="NC-NEW CALEDONIA-687">NEW CALEDONIA</option>
<option value="NZ-NEW ZEALAND-64">NEW ZEALAND</option>
<option value="NI-NICARAGUA-505">NICARAGUA</option>
<option value="NE-NIGER-227">NIGER</option>
<option value="NG-NIGERIA-234">NIGERIA</option>
<option value="NU-NIUE-683">NIUE</option>
<option value="NO-NORWAY-47">NORWAY</option>
<option value="OM-OMAN-968">OMAN</option>
<option value="PK-PAKISTAN-92">PAKISTAN</option>
<option value="PW-PALAU-680">PALAU</option>
<option value="PA-PANAMA-507">PANAMA</option>
<option value="PG-PAPUA NEW GUINEA-675">PAPUA NEW GUINEA</option>
<option value="PY-PARAGUAY-595">PARAGUAY</option>
<option value="PE-PERU-51">PERU</option>
<option value="PH-PHILIPPINES-63">PHILIPPINES</option>
<option value="PL-POLAND-48">POLAND</option>
<option value="PT-PORTUGAL-351">PORTUGAL</option>
<option value="PR-PUERTO RICO-1">PUERTO RICO</option>
<option value="QA-QATAR-974">QATAR</option>
<option value="RE-REUNION, ISLAND Of-262">REUNION, ISLAND Of</option>
<option value="RO-ROMANIA-40">ROMANIA</option>
<option value="RU-RUSSIAN FEDERATION-7">RUSSIAN FEDERATION</option>
<option value="RW-RWANDA-250">RWANDA</option>
<option value="SH-SAINT HELENA-290">SAINT HELENA</option>
<option value="MP-NORTHERN MARIANA ISLANDS-1670">NORTHERN MARIANA ISLANDS</option>
<option value="WS-SAMOA-685">SAMOA</option>
<option value="SM-SAN MARINO-378">SAN MARINO</option>
<option value="ST-SAO TOME AND PRINCIPE-239">SAO TOME AND PRINCIPE</option>
<option value="SA-SAUDI ARABIA-966">SAUDI ARABIA</option>
<option value="SN-SENEGAL-221">SENEGAL</option>
<option value="RS-SERBIA-381">SERBIA</option>
<option value="SC-SEYCHELLES-248">SEYCHELLES</option>
<option value="SL-SIERRA LEONE-232">SIERRA LEONE</option>
<option value="SG-SINGAPORE-65">SINGAPORE</option>
<option value="SK-SLOVAKIA-421">SLOVAKIA</option>
<option value="SI-SLOVENIA-386">SLOVENIA</option>
<option value="SB-SOLOMON ISLANDS-677">SOLOMON ISLANDS</option>
<option value="SO-SOMALIA-252">SOMALIA</option>
<option value="XS-SOMALILAND,Rep of (North Somalia)-252">SOMALILAND,Rep of (North Somalia)</option>
<option value="ZA-SOUTH AFRICA-27">SOUTH AFRICA</option>
<option value="SS-SOUTH SUDAN-211">SOUTH SUDAN</option>
<option value="ES-SPAIN-34">SPAIN</option>
<option value="LK-SRI LANKA-94">SRI LANKA</option>
<option value="XY-ST.BARTHELEMY-590">ST.BARTHELEMY</option>
<option value="XE-ST.EUSTATIUS-599-3">ST.EUSTATIUS</option>
<option value="KN-ST.KITTS-1869">ST.KITTS</option>
<option value="LC-SAINT LUCIA-1758">SAINT LUCIA</option>
<option value="XM-MAARTEN-1">MAARTEN</option>
<option value="VC-SAINT VINCENT AND THE GRENADINES-1784">SAINT VINCENT AND THE GRENADINES</option>
<option value="SD-SUDAN-249">SUDAN</option>
<option value="SR-SURINAME-597">SURINAME</option>
<option value="SZ-SWAZILAND-268">SWAZILAND</option>
<option value="SE-SWEDEN-46">SWEDEN</option>
<option value="CH-SWITZERLAND-41">SWITZERLAND</option>
<option value="SY-SYRIAN ARAB REPUBLIC-963">SYRIAN ARAB REPUBLIC</option>
<option value="PF-FRENCH POLYNESIA-689">FRENCH POLYNESIA</option>
<option value="TW-TAIWAN, PROVINCE OF CHINA-886">TAIWAN, PROVINCE OF CHINA</option>
<option value="TJ-TAJIKISTAN-992">TAJIKISTAN</option>
<option value="TZ-TANZANIA, UNITED REPUBLIC OF-255">TANZANIA, UNITED REPUBLIC OF</option>
<option value="TH-THAILAND-66">THAILAND</option>
<option value="TL-TIMOR-LESTE-670">TIMOR-LESTE</option>
<option value="TG-TOGO-228">TOGO</option>
<option value="TO-TONGA-676">TONGA</option>
<option value="TT-TRINIDAD AND TOBAGO-1868">TRINIDAD AND TOBAGO</option>
<option value="TN-TUNISIA-216">TUNISIA</option>
<option value="TR-TURKEY-90">TURKEY</option>
<option value="TM-TURKMENISTAN-993">TURKMENISTAN</option>
<option value="TC-TURKS AND CAICOS ISLANDS-1649">TURKS AND CAICOS ISLANDS</option>
<option value="TV-TUVALU-688">TUVALU</option>
<option value="UG-UGANDA-256">UGANDA</option>
<option value="UA-UKRAINE-380">UKRAINE</option>
<option value="AE-UNITED ARAB EMIRATES-971">UNITED ARAB EMIRATES</option>
<option value="GB-UNITED KINGDOM-44">UNITED KINGDOM</option>
<option value="US-UNITED STATES-1">UNITED STATES</option>
<option value="UY-URUGUAY-598">URUGUAY</option>
<option value="UZ-UZBEKISTAN-998">UZBEKISTAN</option>
<option value="VU-VANUATU-678">VANUATU</option>
<option value="VA-HOLY SEE (VATICAN CITY STATE)-39">HOLY SEE (VATICAN CITY STATE)</option>
<option value="VE-VENEZUELA-58">VENEZUELA</option>
<option value="VN-VIET NAM-84">VIET NAM</option>
<option value="VG-VIRGIN ISLANDS, BRITISH-1284">VIRGIN ISLANDS, BRITISH</option>
<option value="VI-VIRGIN ISLANDS, U.S.-1340">VIRGIN ISLANDS, U.S.</option>
<option value="YE-YEMEN-967">YEMEN</option>
<option value="ZM-ZAMBIA-260">ZAMBIA</option>
<option value="ZW-ZIMBABWE-263">ZIMBABWE</option>

</select>
                   </div>
                   <div class="col-lg-6 col-md-4 topgap">
                      <label class="">
                      postcode *
                      </label>
                      <input type="text" class="form-control m-input" placeholder="Enter postcode " name="s_postalcode" id="s_postal_code"  required="required" >
                       <div class="clearfix"></div>
                        
                   </div>
                </div>
                
           <div class="form-group m-form__group row topgap"> 

                   <div class="col-md-3">
           <div class="form-group">
                <label>Code: *</label>
             <input type="text" name="s_mobcode" id="shipping_code" readonly=""  class="form-control">

           </div>
         </div>
                   <div class="col-lg-6 col-md-4 topgap">
                      <label class="">
                      Mobile Number *
                      </label>
                      <input type="text" class="form-control m-input" placeholder="Enter your mobile number" name="s_mobile" id="s_mobile" required="required" >
                         
                   </div>
           
                </div>
                
                <div class="m-form__actions m-form__actions" style="text-align: center;">
                    <button  type="submit" class="btn btn-primary">
                   Save
                   </button>
                </div>
             </div>
          </form>
       </div>
       <!-- .postcontent end -->
    </div>
 </div>