<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->

    </div>
  </div>
</div>
<!-- Page content -->


<div class="container-fluid mt--7" style="margin-top:50px!important;">
  <button class="btn btn-primary my-4" routerLinkActive="active" [routerLink]="['/pickup']">AddPickup</button>

  <div _ngcontent-c5="" class="row mt-5">
    <div _ngcontent-c5="" class="col-xl-12 mb-5 mb-xl-0">
      <div _ngcontent-c5="" class="card shadow">
        <div _ngcontent-c5="" class="card-header border-0">
          <div _ngcontent-c5="" class="row align-items-center">
            <div _ngcontent-c5="" class="col">
              <h3 _ngcontent-c5="" class="mb-0">Manage Pickup</h3>
            </div>
            <!-- <div _ngcontent-c5="" class="col text-right"><a _ngcontent-c5="" class="btn btn-sm btn-primary" href="#!">See all</a>
                </div> -->
          </div>
        </div>
        <div _ngcontent-c5="" class="table-responsive">
          <table _ngcontent-c5="" class="table align-items-center table-flush"
            style="line-height: 30px;border-style: groove; ">
            <thead _ngcontent-c5="" class="thead-light">
              <tr _ngcontent-c5="">

                <th _ngcontent-c5="" scope="col">Name</th>
                <th _ngcontent-c5="" scope="col">mobile</th>
                <th _ngcontent-c5="" scope="col">city</th>
                <th _ngcontent-c5="" scope="col">email</th>
                <th _ngcontent-c5="" scope="col">Name</th>
                <th _ngcontent-c5="" scope="col">mobile</th>
                <th _ngcontent-c5="" scope="col">city</th>
                <th _ngcontent-c5="" scope="col">email</th>
              </tr>
            </thead>
            <tbody _ngcontent-c5="">
              <tr _ngcontent-c5="" *ngFor="let item of data | paginate: config ">

                <td _ngcontent-c5=""><i _ngcontent-c5="" class="fas fa-box text-success mr-3"></i>{{item.pickupfname}}
                  {{item.pickuplname}}</td>
                <td _ngcontent-c5="">{{item.pickupmobile}}</td>
                <td _ngcontent-c5="">{{item.pickupcity}}</td>
                <td _ngcontent-c5="">{{item.pickupemail}}</td>
                <td _ngcontent-c5=""><i _ngcontent-c5=""
                    class="fas fa-box text-success mr-3"></i>{{item.WareHousefname}}
                  {{item.WareHouselname}}</td>
                <td _ngcontent-c5="">{{item.WareHousemobile}}</td>
                <td _ngcontent-c5="">{{item.WareHousecity}}</td>
                <td _ngcontent-c5="">{{item.WareHouseemail}}</td>

              </tr>


            </tbody>
          </table>
          <br>
          <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>

        </div>
      </div>
    </div>

  </div>

</div>
