<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">
      Add to Wallet
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">
        ×
      </span>
    </button>
  </div>
  <form method="POST" action="https://www.forwardparcel.com/user-account-balance" name="paymentform" autocomplete="off">
    <div class="modal-body">

      <div class="form-group">
        <label for="recipient-name" class="form-control-label">
          Enter Payment Amount
        </label>
        <i class="fa fa-inr"></i><input type="number" name="amount" min="1" title="required numeric value"
          class="form-control text-left floating-point" style="width: 50%" value="" required="required">
      </div>


    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">
        Close
      </button>
      <button type="submit" class="btn btn-primary">
        Add to Wallet
      </button>
    </div>
  </form>
</div>
