<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">

    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">

    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Analyst information</h3>
            </div>
            <div class="col-4 text-right">

            </div>
          </div>
        </div>
        <div class="card-body" *ngFor="let listItems of data[0]">
          <h3><i class="fas fa-user" style="font-size:200px;"></i></h3>
          <h3>Fisrt Name:{{listItems.fname}} </h3>
          <h3>Last Name:{{listItems.lname}} </h3>
          <h3>Username:{{listItems.username}}</h3>
          <h3>Bio:{{listItems.bio}}</h3>
          <h3>Summary:{{listItems.summary}}</h3>
          <h3>Fackbook:{{listItems.facebook}}</h3>
          <h3>Whatsapp :{{listItems.whatsapp}}</h3>
          <h3>Telegram Link:{{listItems.telegrem}}</h3>
          <h3>Market:{{listItems.markets}}</h3>
        </div>
      </div>

    </div>



    <div class="col-xl-4 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">plans</h3>
            </div>
            <div class="col-4 text-right">

            </div>
          </div>
        </div>
        <div class="card-body">

          <h6 class="heading-small text-muted mb-4"></h6>
          <button type="button" class="btn btn-primary my-4" routerLinkActive="active" [routerLink]="['/plan']">Creat
            Plan</button>

          <div class="pl-lg-4">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <!-- <textarea rows="4" class="form-control form-control-alternative" placeholder="Daily signals"
                    type="text"></textarea> -->
                  <table _ngcontent-c5="" class="table align-items-center table-flush"
                    style="line-height: 30px;border-style: groove; ">
                    <thead _ngcontent-c5="" class="thead-light">
                      <tr _ngcontent-c5="">
                        <th _ngcontent-c5="" scope="col" style="font-size: small;font-weight: bold;">Plan Name</th>
                        <th _ngcontent-c5="" scope="col" style="font-size: small;font-weight: bold;">view</th>
                      </tr>
                    </thead>
                    <tbody _ngcontent-c5="">
                      <tr _ngcontent-c5="" *ngFor="let listItems of data1 ">
                        <td _ngcontent-c5="" scope="row">
                          {{listItems.planname}}
                        </td>
                        <td _ngcontent-c5="">

                          <button (click)="plans(listItems._id)">view</button>
                        </td>



                      </tr>




                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>


        </div>
      </div>
    </div>

  </div>
</div>
