<div class="container">
    <form [formGroup]="loginForm">
        <h1>Login</h1>
        <hr>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" id="email" required formControlName="email">
        <div>
            <ng-container *ngFor="let error of error_messages.email">
                <div class="error-message" *ngIf="loginForm.get('email').hasError(error.type) &&
                (loginForm.get('email').dirty || loginForm.get('email').touched)">
                    {{ error.message }}
                </div>
            </ng-container>
        </div>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="psw" required formControlName="password" >

        <div>
            <ng-container *ngFor="let error of error_messages.password">
                <div class="error-message"
                    *ngIf="loginForm.get('password').hasError(error.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                    {{ error.message }}
                </div>
            </ng-container>
        </div>
        <button type="submit" class="registerbtn" (click)="doLogin()">Login</button>
    </form>
</div>

<div class="container signin">
    <p>Don't have an account? <a (click)="register()" style="color: red;">Sign Up</a>.</p>
</div>