<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->

    </div>
  </div>
</div>


<div class="container-fluid mt--7" style="margin-top:50px!important;">


  <div _ngcontent-c5="" class="row mt-5">
    <div _ngcontent-c5="" class="col-xl-12 mb-5 mb-xl-0">
      <div _ngcontent-c5="" class="card shadow">
        <div _ngcontent-c5="" class="card-header border-0">
          <div _ngcontent-c5="" class="row align-items-center">
            <div _ngcontent-c5="" class="col">
              <h3 _ngcontent-c5="" class="mb-0">User Details</h3>
            </div>
            <!-- <div _ngcontent-c5="" class="col text-right"><a _ngcontent-c5="" class="btn btn-sm btn-primary" href="#!">See all</a>
                </div> -->
          </div>
        </div>
        <div _ngcontent-c5="" class="table-responsive">
          <table _ngcontent-c5="" class="table align-items-center table-flush">
            <thead _ngcontent-c5="" class="thead-light">
              <tr _ngcontent-c5="">
                <th _ngcontent-c5="" scope="col"><input type="checkbox" class="form-check-input" value=""></th>
                <th _ngcontent-c5="" scope="col">ProjectId</th>
                <th _ngcontent-c5="" scope="col">FirstName</th>
                <th _ngcontent-c5="" scope="col">LastName</th>
                <th _ngcontent-c5="" scope="col">Mobile</th>
                <th _ngcontent-c5="" scope="col">Email</th>

                <th _ngcontent-c5="" scope="col">Edit</th>
                <th _ngcontent-c5="" scope="col">delete</th>
              </tr>
            </thead>
            <tbody _ngcontent-c5="">
              <tr _ngcontent-c5="" *ngFor="let listUser of data | paginate: config">
                <th _ngcontent-c5="" scope="row"><input type="checkbox" class="form-check-input" value=""></th>
                <td _ngcontent-c5="">
                  {{listUser.project_id}}
                </td>
                <td _ngcontent-c5=""><i _ngcontent-c5="" class="fas fa-box text-success mr-3"></i>
                  {{listUser.fname}}
                </td>
                <td _ngcontent-c5=""><i _ngcontent-c5="" class="fas fa-box text-success mr-3"></i>
                  {{listUser.lname}}
                </td>
                <td _ngcontent-c5="">
                  {{listUser.mobile}}
                </td>
                <td _ngcontent-c5="">
                  {{listUser.email}}
                </td>

                <td _ngcontent-c5=""><button type="button" class="btn btn-success mr-2 mb-2"
                    [routerLink]="[ '/editprofile' ]" routerLinkActive="active">Edit</button></td>
                <td _ngcontent-c5=""><button type="button" class="btn btn-danger mr-2 mb-2"
                    [routerLink]="[ '/editprofile' ]" routerLinkActive="active">Delete</button>
                </td>
                <!-- <td _ngcontent-c5=""><i _ngcontent-c5="" class="fas fa-arrow-up text-success mr-3"></i> 46,53%</td> -->
              </tr>



            </tbody>
          </table>
          <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
        </div>
      </div>
    </div>

  </div>

</div>
