<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">

    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">

    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Analyst information</h3>
            </div>
            <div class="col-4 text-right">

            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="analystForm" (ngSubmit)="analyst()">
            <h6 class="heading-small text-muted mb-4"></h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-fname">First name</label>
                    <input type="text" id="input-fname" class="form-control form-control-alternative"
                      placeholder="First name" formControlName="fname">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-lname">Last name</label>
                    <input type="text" id="input-lname" class="form-control form-control-alternative"
                      placeholder="Last name" formControlName="lname">
                  </div>
                </div>
              </div>



              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Username</label>
                    <input type="text" id="input-username" class="form-control form-control-alternative"
                      placeholder="Username" formControlName="username">
                  </div>
                </div>
              </div>

            </div>
            <!-- <hr class="my-4" /> -->
            <!-- Address -->
            <!-- <h6 class="heading-small text-muted mb-4">Bio information</h6> -->
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-bio">Bio</label>
                    <textarea rows="4" id="input-bio" class="form-control form-control-alternative" placeholder="bio"
                      type="text" name="bio" formControlName="bio"></textarea>
                  </div>
                </div>
              </div>

            </div>
            <!-- <hr class="my-4" /> -->
            <!-- Description -->
            <!-- <h6 class="heading-small text-muted mb-4"></h6> -->
            <div class="pl-lg-4">
              <div class="form-group">
                <label>Summary</label>
                <textarea type="text" rows="4" id="input-summary" class="form-control form-control-alternative"
                  placeholder="Summary" name="summary" formControlName="summary"></textarea>
              </div>
            </div>

            <div class="pl-lg-4">

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-facebook">Facebook</label>
                    <input type="text" id="input-facebook" class="form-control form-control-alternative"
                      placeholder="https://www.fackbook.com" formControlName="facebook">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-whatsapp">Whatsapp</label>
                    <input type="text" id="input-whatsapp" class="form-control form-control-alternative"
                      placeholder="https://www.whatsapp.com" formControlName="whatsapp">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-telegram">Telegram</label>
                    <input type="text" id="input-telegram" class="form-control form-control-alternative"
                      placeholder="https://www.telegrem.com" formControlName="telegrem">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-markets">Markets</label>
                    <input type="text" id="input-markets" class="form-control form-control-alternative"
                      placeholder="markets" formControlName="markets">
                  </div>
                </div>
              </div>

            </div>


            <div class="m-form__actions m-form__actions" style="text-align: center;">
              <button class="btn btn-warning m-btn m-btn--custom m-btn--icon" id="shedule_data"
                data-wizard-action="next" [disabled]=analystForm.invalid>
                <span>
                  <span>
                    Submit
                  </span> &nbsp;&nbsp;
                  <i class="la la-arrow-right"></i>
                </span>
              </button>
            </div>



          </form>
        </div>
      </div>
    </div>

    <div class="col-xl-4 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Upload Profile Image</h3>
            </div>
            <div class="col-4 text-right">

            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="analystForm" (ngSubmit)="analyst()">
            <h6 class="heading-small text-muted mb-4"></h6>
            <h3><i class="fas fa-user" style="font-size:200px;"></i></h3><br>
            <p><input type="file" id="wizard-picture" class="" (change)="selectImage($event)" formControlName="file">
            </p>


          </form>
        </div>
      </div>
    </div>

  </div>
</div>




<!-- <div class="col-xl-8 order-xl-1">
  <div class="card bg-secondary shadow">
    <div class="card-header bg-white border-0">
      <div class="row align-items-center">
        <div class="col-8">
          <h3 class="mb-0">plan</h3>
        </div>
        <div class="col-4 text-right">

        </div>
      </div>
    </div>
    <div class="card-body">

      <h6 class="heading-small text-muted mb-4"></h6>
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">

            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <button routerLinkActive="active" [routerLink]="['/plan']">plan</button>
            </div>
          </div>
        </div>


      </div>
      <div _ngcontent-c5="" class="table-responsive">
        <table _ngcontent-c5="" class="table align-items-center table-flush">
          <thead>
            <tr>
              <th scope="col" style="font-size: small;font-weight: bold;">PLANNAME</th>

            </tr>
          </thead>
          <tbody>
            <tr _ngcontent-c5="" *ngFor="let listItems of data | paginate: config ">
              <td scope="row">
                {{listItems.planname}}
              </td>



            </tr>



          </tbody>
        </table>
        <br>
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
      </div>


    </div>
  </div>
</div> -->
