<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->

    </div>
  </div>
</div>
<!-- Page content -->


<div class="container-fluid mt--7" style="margin-top:50px!important;">


  <div _ngcontent-c5="" class="row mt-5">
    <div _ngcontent-c5="" class="col-xl-12 mb-5 mb-xl-0">
      <div _ngcontent-c5="" class="card shadow">
        <div _ngcontent-c5="" class="card-header border-0">
          <div _ngcontent-c5="" class="row align-items-center">
            <div _ngcontent-c5="" class="col">
              <h3 _ngcontent-c5="" class="mb-0">Wallect Transactions List</h3>
            </div>
            <!-- <div _ngcontent-c5="" class="col text-right"><a _ngcontent-c5="" class="btn btn-sm btn-primary" href="#!">See all</a>
                </div> -->
          </div>
        </div>
        <div _ngcontent-c5="" class="table-responsive">
          <table _ngcontent-c5="" class="table align-items-center table-flush"
            style="line-height: 30px;border-style: groove; ">
            <thead _ngcontent-c5="" class="thead-light">
              <tr _ngcontent-c5="">

                <th _ngcontent-c5="" scope="col" style="font-size: small;font-weight: bold;">S.nO</th>
                <th _ngcontent-c5="" scope="col" style="font-size: small;font-weight: bold;">Amount</th>
                <th _ngcontent-c5="" scope="col" style="font-size: small;font-weight: bold;">Message</th>
                <th _ngcontent-c5="" scope="col" style="font-size: small;font-weight: bold;">Date</th>

              </tr>
            </thead>
            <tbody _ngcontent-c5="">
              <tr _ngcontent-c5="">

                <td _ngcontent-c5="">1</td>
                <td _ngcontent-c5="">220</td>
                <td _ngcontent-c5="">parcel</td>
                <td _ngcontent-c5="">11-08-2020</td>


              </tr>

              <tr _ngcontent-c5="">

                <td _ngcontent-c5="">2</td>
                <td _ngcontent-c5="">120</td>
                <td _ngcontent-c5="">parcel</td>
                <td _ngcontent-c5="">02-08-2020</td>


              </tr>
              <tr _ngcontent-c5="">

                <td _ngcontent-c5="">3</td>
                <td _ngcontent-c5="">220</td>
                <td _ngcontent-c5="">shipment</td>
                <td _ngcontent-c5="">01-08-2020</td>


              </tr>
              <tr _ngcontent-c5="">

                <td _ngcontent-c5="">4</td>
                <td _ngcontent-c5="">120</td>
                <td _ngcontent-c5="">pickup</td>
                <td _ngcontent-c5="">20-07-2020</td>


              </tr>
            </tbody>
          </table>



        </div>
      </div>
    </div>

  </div>

</div>
