<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-4 col-lg-4">
          <div class="card card-stats mb-4 mb-xl-0" style="padding:10px;">
            <div class="m-widget24">
              <div class="m-widget24__item">
                <!-- <h3>Amol C</h3>
                <p>Singapore</p> -->
                <div _ngcontent-c5="" class="table-responsive">
                  <table _ngcontent-c5="" class="table1" class="table align-items-center table-flush"
                    style="line-height: 30px;border-style: groove; ">

                    <tr _ngcontent-c5="" *ngFor="let listItems of data3[0]">
                      <th _ngcontent-c5="" scope="col">Name</th>
                      <td _ngcontent-c5="" scope="row">
                        {{listItems.planname}}
                      </td>
                    </tr>
                    <tr _ngcontent-c5="" *ngFor="let listItems of data3[0]">
                      <th _ngcontent-c5="" scope="col">Info</th>
                      <td _ngcontent-c5="">
                        {{listItems.planinfo}}
                      </td>
                    </tr>

                    <tr _ngcontent-c5="" *ngFor="let listItems of data3[0]">
                      <th _ngcontent-c5="" scope="col">Monthly
                      </th>
                      <td _ngcontent-c5="">
                        {{listItems.planpricemonthly}}
                      </td>
                    </tr>
                    <tr _ngcontent-c5="" *ngFor="let listItems of data3[0]">
                      <th _ngcontent-c5="" scope="col">Annual</th>
                      <td _ngcontent-c5="">
                        {{listItems.planpriceannual}}
                      </td>
                    </tr>

                    <!-- <tbody _ngcontent-c5="">
                      <tr _ngcontent-c5="" *ngFor="let listItems of data3[0]">
                        <td _ngcontent-c5="" scope="row">
                          {{listItems.planname}}
                        </td>

                        <td _ngcontent-c5="">
                          {{listItems.planinfo}}
                        </td>


                         <td _ngcontent-c5="">
                          {{listItems.planowner}}
                        </td> -->


                    <!-- <td _ngcontent-c5="">
                          {{listItems.planpricemonthly}}
                        </td>


                        <td _ngcontent-c5="">
                          {{listItems.planpriceannual}}
                        </td>



                      </tr>




                    </tbody> -->
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="m-widget24">
              <div class="m-widget24__item">
                <div id="chartdiv">


                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="m-widget24">
              <div class="m-widget24__item">
                <div id="chartdiv1">


                </div>

              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <button type="button" class="btn btn-primary my-4" routerLinkActive="active" [routerLink]="['/signals']"> GoTo Create
    Signal</button>
  <div class="row mt-5">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card shadow" style="min-height:300px;">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div _ngcontent-c5="" class="table-responsive">
              <table _ngcontent-c5="" class="table align-items-center table-flush"
                style="line-height: 30px;border-style: groove; ">
                <thead _ngcontent-c5="" class="thead-light">
                  <tr _ngcontent-c5="">
                    <th _ngcontent-c5="" scope="col" style="font-size: small;font-weight: bold;">Entry DateTime HERE
                    </th>
                    <th _ngcontent-c5="" scope="col" style="font-size: small;font-weight: bold;">Exit DateTime HERE</th>
                    <th _ngcontent-c5="" scope="col" style="font-size: small;font-weight: bold;"> SYMBOL</th>

                    <th _ngcontent-c5="" scope="col" style="font-size: small;font-weight: bold;"> Entry Price</th>
                    <th _ngcontent-c5="" scope="col" style="font-size: small;font-weight: bold;"> Exit Price</th>
                    <th _ngcontent-c5="" scope="col" style="font-size: small;font-weight: bold;">TARGET PRICE</th>
                    <th _ngcontent-c5="" scope="col" style="font-size: small;font-weight: bold;">STOP LOSS</th>
                    <th _ngcontent-c5="" scope="col" style="font-size: small;font-weight: bold;">SIGNAL</th>
                    <th _ngcontent-c5="" scope="col" style="font-size: small;font-weight: bold;">STATUS</th>

                  </tr>
                </thead>
                <tbody _ngcontent-c5="">
                  <tr _ngcontent-c5="" *ngFor="let listItems of data | paginate: config ">
                    <td _ngcontent-c5="" scope="row">
                      {{listItems. EntryDateTime}}
                    </td>
                    <td _ngcontent-c5="">
                      {{listItems. ExitDateTime}}
                    </td>
                    <td _ngcontent-c5="">
                      {{listItems.Symbol}}
                    </td>

                    <td _ngcontent-c5="">
                      {{listItems.EntryPrice}}
                    </td>

                    <td _ngcontent-c5="">
                      {{listItems. ExitPrice}}
                    </td>

                    <td _ngcontent-c5="">
                      {{listItems.targetPrice}}
                    </td>

                    <td _ngcontent-c5="">
                      {{listItems.stopLoss}}
                    </td>

                    <td _ngcontent-c5="">
                      {{listItems.Signal}}
                    </td>

                    <!-- <td _ngcontent-c5="">
                      {{listItems.status}}
                    </td> -->
                    <td _ngcontent-c5="">
                      <div class="dropdown">


                        <select class="dropdown-select" (change)="selectbyvalue($event)">
                          <option class="dropdown-item" value="WIN">win</option>
                          <option class="dropdown-item" value="LOSS">Loss</option>
                          <option class="dropdown-item" value="ONGOING">ongoing</option>

                          <option class="dropdown-item" value="CLOSE">close</option>

                        </select>

                      </div>
                    </td>
                  </tr>




                </tbody>
              </table>
              <br>
              <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
            </div>

          </div>
        </div>

      </div>
    </div>
    <br>

  </div>

</div>
