<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-4 col-lg-4">
          <div class="card card-stats mb-4 mb-xl-0" style="padding:10px;">
            <div class="m-widget24">
              <div class="m-widget24__item">
                <!-- <h3>Amol C</h3>
                <p>Singapore</p> -->

                <thead _ngcontent-c5="" class="thead-light">
                  <tr _ngcontent-c5="">
                    <th _ngcontent-c5="" scope="col" style="font-size: small;font-weight: bold;">Plan Name</th>
                    <th _ngcontent-c5="" scope="col" style="font-size: small;font-weight: bold;">Plan Info</th>
                    <th _ngcontent-c5="" scope="col" style="font-size: small;font-weight: bold;">Plan Duration</th>
                    <th _ngcontent-c5="" scope="col" style="font-size: small;font-weight: bold;">Plan Owner</th>
                    <th _ngcontent-c5="" scope="col" style="font-size: small;font-weight: bold;">Plan Start</th>
                    <th _ngcontent-c5="" scope="col" style="font-size: small;font-weight: bold;">Plan End</th>
                    <th _ngcontent-c5="" scope="col" style="font-size: small;font-weight: bold;">Plan PriceMonthly
                    </th>
                    <th _ngcontent-c5="" scope="col" style="font-size: small;font-weight: bold;">Plan priceAnnual</th>
                  </tr>
                </thead>
                <tbody _ngcontent-c5="">
                  <tr _ngcontent-c5="" *ngFor="let listItems of data">
                    <td _ngcontent-c5="" scope="row">
                      {{listItems.planname}}
                    </td>

                    <td _ngcontent-c5="">
                      {{listItems.planinfo}}
                    </td>

                    <td _ngcontent-c5="">
                      {{listItems.planduration}}
                    </td>
                    <td _ngcontent-c5="">
                      {{listItems.planowner}}
                    </td>
                    <td _ngcontent-c5="">
                      {{listItems.planstart}}
                    </td>

                    <td _ngcontent-c5="">
                      {{listItems.planend}}
                    </td>

                    <td _ngcontent-c5="">
                      {{listItems.planpricemonthly}}
                    </td>

                    <td _ngcontent-c5="">
                      {{listItems.planpriceannual}}
                    </td>



                  </tr>




                </tbody>

              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="m-widget24">
              <div class="m-widget24__item">
                <div id="chartdiv">


                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="m-widget24">
              <div class="m-widget24__item">
                <div id="chartdiv1">


                </div>

              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <button type="button" class="btn btn-primary my-4" routerLinkActive="active" [routerLink]="['/signals']"> GoTo Create
    Signal</button>
  <div class="row mt-5">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card shadow" style="min-height:300px;">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div _ngcontent-c5="" class="table-responsive">
              <table _ngcontent-c5="" class="table align-items-center table-flush"
                style="line-height: 30px;border-style: groove; ">
                <thead _ngcontent-c5="" class="thead-light">
                  <tr _ngcontent-c5="">
                    <th _ngcontent-c5="" scope="col" style="font-size: small;font-weight: bold;">TIME HERE</th>
                    <th _ngcontent-c5="" scope="col" style="font-size: small;font-weight: bold;">STOCK SYMBOL</th>
                    <th _ngcontent-c5="" scope="col" style="font-size: small;font-weight: bold;">TYPE</th>
                    <th _ngcontent-c5="" scope="col" style="font-size: small;font-weight: bold;">PRICE</th>
                    <th _ngcontent-c5="" scope="col" style="font-size: small;font-weight: bold;">TARGET PRICE</th>
                    <th _ngcontent-c5="" scope="col" style="font-size: small;font-weight: bold;">STOP LOSS</th>
                    <th _ngcontent-c5="" scope="col" style="font-size: small;font-weight: bold;">SIGNAL</th>
                    <th _ngcontent-c5="" scope="col" style="font-size: small;font-weight: bold;">STATUS</th>
                  </tr>
                </thead>
                <tbody _ngcontent-c5="">
                  <tr _ngcontent-c5="" *ngFor="let listItems of data | paginate: config ">
                    <td _ngcontent-c5="" scope="row">
                      {{listItems.dateTime}}
                    </td>

                    <td _ngcontent-c5="">
                      {{listItems.stockSymbol}}
                    </td>

                    <td _ngcontent-c5="">
                      {{listItems.type}}
                    </td>

                    <td _ngcontent-c5="">
                      {{listItems.price}}
                    </td>

                    <td _ngcontent-c5="">
                      {{listItems.targetPrice}}
                    </td>

                    <td _ngcontent-c5="">
                      {{listItems.stopLoss}}
                    </td>

                    <td _ngcontent-c5="">
                      {{listItems.stockSignal}}
                    </td>

                    <td _ngcontent-c5="">
                      {{listItems.status}}
                    </td>
                    <!-- <td _ngcontent-c5=""><i _ngcontent-c5="" class="fas fa-arrow-up text-success mr-3"></i> 46,53%</td> -->
                  </tr>




                </tbody>
              </table>
              <br>
              <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
            </div>

          </div>
        </div>

      </div>
    </div>
    <br>

  </div>

</div>
